
/* 
css file 
*/
*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

 .nav-container{
    background-color: black;
    display:flex;
    padding: 5px;
    font-size: 1.1rem;
    color: white;
    justify-content: space-around;
    position: fixed;
    z-index: +1;
    width:100%
}
.nav-container>.nav-item{
    width: 100px;
    text-align: center;
    transition: 0.8s ease;
    /* background-color: rgb(162, 0, 255); */
}
.nav-item:hover{
    background-color: chartreuse;
    cursor: pointer;
}
.bg-container{
    /* border: 2px solid black;s */
    height: 73%;
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Inconsolata", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.bg-container>.text-container{
    font-size: 5rem;
    color: white;
    text-align: center;
    line-height: 120px;
}

.bg-container>.text-container-2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px;
}

.bg-container>.text-container-3{
    position:absolute;
    bottom: 10px;
    right: 10px;
    /* background-color: black; */
    color: white;
    padding:5px
}
.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
     font-family: "Inconsolata", sans-serif;
    
    
} 
.main{
    width:50%;
    height: 2000px;
    border: 2px solid black;
    
} 
.about{
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.about>p{
    background-color: black;
    color: white;
    padding: 10px;
    width:fit-content;
    letter-spacing: 10px;
    
}
.ceo{
    line-height: 20px;
    text-align: justify;
    padding: 20px;
    
}
.cheff{
    padding: 30px;
    background-color: rgb(0, 170, 255);
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: black;
    margin: 10px ;
    
}
.image>img{
    width:100%;
    filter :grayscale(50%)
}
.hover,.address{
    padding: 10px;
}




   



